{% extends 'base.html.twig' %}

{% block title %}Infinity Aion{% endblock %}

{% block body %}

<!-- ======= Top Bar ======= -->
<section id="topbar" class="d-none d-lg-flex align-items-center fixed-top topbar-transparent">
<div class="container text-right">
    <i class="fab fa-codepen" style="color: green"></i> Server ON
</div>
</section>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center header-transparent">
<div class="container d-flex align-items-center">

    <div class="logo mr-auto">
    {# <h1 class="text-light"><a href="index.html"><span>Delicious</span></a></h1> #}
    <!-- Uncomment below if you prefer to use an image logo -->
    <img src="{{ asset('build/img/infinityaion.png') }}" alt="">
    </div>

    <nav class="nav-menu d-none d-lg-block">
    <ul>
        <li class="active"><a href="#hero">Início</a></li>
        <li><a href="#why-us">Server Info</a></li>
        <li><a href="#team">Explore</a></li>
        <li><a href="#specials">Classes</a></li>
        <li><a href="#gallery">Midia</a></li>
        <li><a href="#chefs">Downloads</a></li>

        <li class="book-a-table text-center"><a href="{{ path('app_register') }}">Registrar</a></li>
        <li class="book-a-table text-center"><a href="{{ path('app_login') }}">Log In</a></li>
    </ul>
    </nav><!-- .nav-menu -->

</div>
</header><!-- End Header -->

{# ++++++++++ Flash Bags +++++++++++ #}
{% for message in app.flashes('notice') %}
<div class="alert alert-warning alert-dismissible" style="position: absolute; top: 130px; left:30px; z-index:1000;">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Alerta! </strong>{{ message }}
</div>
{% endfor %}

<!-- ======= Hero Section ======= -->
<section class="hero" id="hero">
<div class="hero-container">
    <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

    <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

    <div class="carousel-inner" role="listbox">

        {% set active = true %}
        {% for item in carousel %}
          {% if active == true %}
            <!-- Slide 1 -->
            <div class="carousel-item active" style="background: url({{ asset('uploads/cms/' ~ item.imageFull)}}); background-size:cover; background-position: center center;">
                <div class="carousel-container" style="background-color: rgba(10,10,10,0.5);">
                    <div class="carousel-content">
                        <h2 class="animate__animated animate__fadeInDown">{{item.title}}</h2>
                        <p class="animate__animated animate__fadeInUp">{{item.text}}</p>
                        <div>
                            <a href="{{ path('site_isolate', {id:item.id}) }}" class="btn-menu animate__animated animate__fadeInUp scrollto">Mais detalhes</a>
                        </div>
                    </div>
                </div>
            </div>
            {% set active = false %}
          {% else %}
            <div class="carousel-item active" style="background: url({{ asset('uploads/cms/' ~ item.imageFull)}}); background-size:cover; background-position: center center;">
                <div class="carousel-container" style="background-color: rgba(10,10,10,0.5);">
                    <div class="carousel-content">
                        <h2 class="animate__animated animate__fadeInDown">{{item.title}}</h2>
                        <p class="animate__animated animate__fadeInUp">{{item.text}}</p>
                        <div>
                            <a href="{{ path('site_isolate') }}" class="btn-menu animate__animated animate__fadeInUp scrollto">Mais detalhes</a>
                        </div>
                    </div>
                </div>
            </div>
          {% endif %}
        {% endfor %}
    </div>

    <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon icofont-simple-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>

    <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon icofont-simple-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>

    </div>
</div>
</section><!-- End Hero -->

<main>

<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container-fluid">

    <div class="row">

        <div class="col-lg-5 align-items-stretch video-box" style='background-image: url({{ asset('build/img/about.png') }});'>
        <a href="https://www.youtube.com/watch?v=crwgSgtf3oE" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
        </div>

        <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch">

        <div class="content">
            <h3>Uma nova batalha está para começar, <strong>junte seus amigos e explore Atreia.</strong></h3>
            <p>
            Aion Upheaval, implementa uma série de mecanismos que irá intensificar a experiência no jogo. Confira agora o que está por vir:
            </p>
            <p class="font-italic">Novos Mapas:</p>
            <ul>
            <li><i class="bx bx-check-double"></i>Cygnea, Enshar, Levinshor e Kaldor</li>
            </ul>
            <p class="font-italic">Nova Classe:</p>
            <ul>
            <li><i class="bx bx-check-double"></i>Aethertech</li>
            </ul>
            <p class="font-italic">Novo Mecanismo:</p>
            <ul>
            <li><i class="bx bx-check-double"></i>Glory Points</li>
            </ul>
            <p class="font-italic">Novas Batalhas:</p>
            <ul>
            <li><i class="bx bx-check-double"></i>Iron Wall Warfront, Engulfed Ophidan Bridge e Idgel Dome</li>
            </ul>
            <p class="font-italic">E muito mais...</p>
        </div>

        </div>

    </div>

    </div>
</section><!-- End About Section -->

<!-- ======= Whu Us Section ======= -->
<section id="why-us" class="why-us">
    <div class="container">

    <div class="section-title">
        <h2>Informações do servidor</h2>
    </div>

    <div class="row">

        <div class="col-lg-4">
        <div class="box">
            <span><i class="fab fa-codepen"></i></span>
            <h4>Core</h4>
            <p>Aion 4.9 - Upheaval</p>
            <br>
        </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0">
        <div class="box">
            <span><i class="far fa-flag"></i></span>
            <h4>Host</h4>
            <p>São Paulo (SP) - BR</p>
            <br>
        </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0">
        <div class="box">
            <span><i class="far fa-times-circle"></i></span>
            <h4>Rates</h4>
            <p>EXP: Normal: 10x / VIP: 20x<br>
            AP: Normal: 1x / VIP: 2x</p>
        </div>
        </div>

    </div>

    </div>
</section><!-- End Whu Us Section -->

<!-- ======= Team Section ======= -->
<section id="team" class="team section-bg">
    <div class="container">

    <div class="section-title">
        <h2>Explore o Infinity Aion</h2>
    </div>

    <div class="row">

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member">
            <div class="member-img">
            <img src="{{ asset('build/img/team/01.png') }}" class="img-fluid" alt="">
            <div class="social">
                <a href="#"><i class="far fa-eye"></i> Ver detalhes</a>
            </div>
            </div>
            <div class="member-info">
            <h4>Sieges</h4>
            </div>
        </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member">
            <div class="member-img">
            <img src="{{ asset('build/img/team/02.png') }}" class="img-fluid" alt="">
            <div class="social">
                <a href="#"><i class="far fa-eye"></i> Ver detalhes</a>
            </div>
            </div>
            <div class="member-info">
            <h4>Instâncias</h4>
            </div>
        </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member">
            <div class="member-img">
            <img src="{{ asset('build/img/team/03.png') }}" class="img-fluid" alt="">
            <div class="social">
                <a href="#"><i class="far fa-eye"></i> Ver detalhes</a>
            </div>
            </div>
            <div class="member-info">
            <h4>Landing Reinforcement</h4>
            </div>
        </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member">
            <div class="member-img">
            <img src="{{ asset('build/img/team/04.png') }}" class="img-fluid" alt="">
            <div class="social">
                <a href="#"><i class="far fa-eye"></i> Ver detalhes</a>
            </div>
            </div>
            <div class="member-info">
            <h4>Invasion</h4>
            </div>
        </div>
        </div>

    </div>

    <div class="row">

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member">
            <div class="member-img">
            <img src="{{ asset('build/img/team/05.png') }}" class="img-fluid" alt="">
            <div class="social">
                <a href="#"><i class="far fa-eye"></i> Ver detalhes</a>
            </div>
            </div>
            <div class="member-info">
            <h4>Mapas</h4>
            </div>
        </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member">
            <div class="member-img">
            <img src="{{ asset('build/img/team/06.png') }}" class="img-fluid" alt="">
            <div class="social">
                <a href="#"><i class="far fa-eye"></i> Ver detalhes</a>
            </div>
            </div>
            <div class="member-info">
            <h4>Rift's</h4>
            </div>
        </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member">
            <div class="member-img">
            <img src="{{ asset('build/img/team/07.png') }}" class="img-fluid" alt="">
            <div class="social">
                <a href="#"><i class="far fa-eye"></i> Ver detalhes</a>
            </div>
            </div>
            <div class="member-info">
            <h4>Shopping</h4>
            </div>
        </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member">
            <div class="member-img">
            <img src="{{ asset('build/img/team/08.png') }}" class="img-fluid" alt="">
            <div class="social">
                <a href="#"><i class="far fa-eye"></i> Ver detalhes</a>
            </div>
            </div>
            <div class="member-info">
            <h4>Stigmas</h4>
            </div>
        </div>
        </div>

    </div>

    </div>
</section><!-- End Team Section -->


<!-- ======= Specials Section ======= -->
<section id="specials" class="specials">
    <div class="container">

    <div class="section-title">
        <h2>Classes</h2>
        <p>Conheça as classes do Aion.</p>
    </div>

    <div class="row">
        <div class="col-lg-3">
        <ul class="nav nav-tabs flex-column">
            <li class="nav-item">
            <a class="nav-link active show" data-toggle="tab" href="#tab-1">Aethertech</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tab-2">Assasin</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tab-3">Chanter</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tab-4">Cleric</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tab-5">Gladiator</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tab-6">Gunner</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tab-7">Ranger</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tab-8">Sorcerer</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tab-9">Songweaver</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tab-10">Spiritmaster</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tab-11">Templar</a>
            </li>
        </ul>
        </div>
        <div class="col-lg-9 mt-4 mt-lg-0">
        <div class="tab-content">
            <div class="tab-pane active show" id="tab-1">
            <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Aethertech</h3>
                <p>É uma classe ranged/melle, porém mágica (ele usa Magic Boost como principal status causador de dano). Suas skills modificam a aparência de sua máquina, criando punhos, chicotes, metralhadoras, pistolas, lâminas e até mesmo lançadores de foguetes.</p>
                <p>Sua arma como já citado é uma chave que ao ser usada sumona o “tank de guerra”.</p>
                <p>Set usado: Chain.</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="{{ asset('build/img/specials/01.png') }}" alt="" class="img-fluid">
                </div>
            </div>
            </div>
            <div class="tab-pane" id="tab-2">
            <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Assasin</h3>
                <p>Classe de velocidade, runas, veneno e stuns. O Assasin possui skills de invisibilidade avançada que permite a ele chegar por trás do inimigo, stunar e matar. Seu equipamento é dual espada, dual adaga ou espada/adaga que o faz ser uma classe melle. Pela sua velocidade de ataque, o Sin tem um ótimo dps, desde que saiba combar corretamente as runas. Então não me venha clicando nas skills feito louco e me dizer que está jogando de sin, pois não é uma classe fácil de se jogar!</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="{{ asset('build/img/specials/02.png') }}" alt="" class="img-fluid">
                </div>
            </div>
            </div>
            <div class="tab-pane" id="tab-3">
            <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Chanter</h3>
                <p>A classe dos bufs. Possui uma cura razoável, mais voltada para si próprio ou um target específico. Quando suporte, ele ajuda o grupo aumentando a defesa elemental com o uso dos seus bufs e criando escudos. É uma classe melle.</p>
                <p>Como o Cleric, pode usar escudo/mace ou staff.</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="{{ asset('build/img/specials/03.png') }}" alt="" class="img-fluid">
                </div>
            </div>
            </div>
            <div class="tab-pane" id="tab-4">
            <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Cleric</h3>
                <p>O melhor curandeiro do Aion. Suas skills são voltadas para dar o suporte necessário a todos do grupo. Mas além disso o Cleric (ao contrário do que muitos pensam) também possui um bom dps – se for equipado adequadamente -. É uma classe mágica de ataques a distância. Bons Clerics conseguem solar muitas instâncias que são de grupo. Sua arma é escudo/mace – quando estiver curando – e staff – quando estiver de dps.</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="{{ asset('build/img/specials/04.png') }}" alt="" class="img-fluid">
                </div>
            </div>
            </div>
            <div class="tab-pane" id="tab-5">
            <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Gladiator</h3>
                <p>Gladiadores são conhecidos por seus ataques em área. Conseguem ser o “tank” em várias instâncias desde que esteja com um equipamento adequado e saiba jogar, pois a classe conta apenas com um taunt.</p>
                <p>É uma classe melle e pode usar uma variedade de armas, desde a sua conhecida Polearm -exclusiva da classe- até mesmo dual espada, dual adaga, dual mace, espada/escudo, mace/escudo mace/espada, e GS (Great Sword).</p>
                <p>Sendo indicada a Polearm para pvp (maior número de skills em áreas habilitáveis) e dual espada para pve (ataque mais rápido, segura melhor o agro dos mobs)</p>
                <p>Ele pode usar também arco/flexa, porém não possui skill alguma para tal, serve mais para agrar mobs que estão longe.</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="{{ asset('build/img/specials/05.png') }}" alt="" class="img-fluid">
                </div>
            </div>
            </div>
            <div class="tab-pane" id="tab-6">
            <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Gunner</h3>
                <p>O pistoleiro. Poderia ser uma subclasse dos scouts, pois possuem algumas semelhanças: como traps e usar leather. Porém o seu leather é especial pois ao contrário dos scouts, o Gunner usa de ataque mágico (MB) e elemental.</p>
                <p>Um diferencial da classe é que quando equipado com duas pistolas sua mobilidade é enorme, podendo castar skills enquanto corre. Porém quando equipado com o AetherCannon seu Dps aumenta consideravelmente.</p>
                <p>Pode usar como arma os já citados: Dual pistola ou Aethercannon.</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="{{ asset('build/img/specials/06.png') }}" alt="" class="img-fluid">
                </div>
            </div>
            </div>
            <div class="tab-pane" id="tab-7">
            <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Ranger</h3>
                <p>Classe de ataque a distância, é aquele que te dá flexada no traseiro, stuna, sleep, sai correndo e volta para te matar. Possuem um dano muito bom. Como segunda arma, o ranger equipa dual adagas ou espadas, apesar de quase não possuir skills para este equipamento melle. Estas servem para quebrar itens de hit 1, como as surks das dredgions por ex. Por vir da classe Scout, o Ranger possui uma skill de invisibilidade level 1.</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="{{ asset('build/img/specials/07.png') }}" alt="" class="img-fluid">
                </div>
            </div>
            </div>
            <div class="tab-pane" id="tab-8">
            <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Sorcerer</h3>
                <p>O maior dps instantâneo (ou seja, a curto prazo) do Aion (mas não significa que seja o maior dps em instâncias, pois ele acaba tendo que se segurar para não roubar o agro do tank). Suas skills são absurdamente fortes, porém a defesa do char é fraca.</p>
                <p>Sendo assim você vai ouvir e ver muito o Sorcer morrer por reflet em alguns boss…</p>
                <p>Ele pode equipar livro ou orb. Possui skills de sleep, que colocam para dormir, transformam em árvore, etc… com isso ele também se torna uma classe de controle.</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="{{ asset('build/img/specials/08.png') }}" alt="" class="img-fluid">
                </div>
            </div>
            </div>
            <div class="tab-pane" id="tab-9">
            <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Songweaver</h3>
                <p>O song poderia ser classificado como um mage, pois usa cloth e possui skills de sleep, silence, bound. Mas o diferencial dele é que pode se curar e se cura muito!</p>
                <p>O Song utiliza de skills lindamente animadas. O seu sleep (em área e target) transforma o oponente num Pinguim que dança ao som de Michael Jackson. O principal diferencial em suas curas é que algumas são em chain, o mesmo ocorre para cura de mana, outro diferencial exclusivo da classe: poder curar a mana própria e a de seus aliados (eu como cleric adorooo ter um na pt :P).</p>
                <p>Outra coisa boa para quem joga com a classe são as skills que roubam o mp do inimigo.</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="{{ asset('build/img/specials/09.png') }}" alt="" class="img-fluid">
                </div>
            </div>
            </div>
            <div class="tab-pane" id="tab-10">
            <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Spiritmaster</h3>
                <p>Simplesmente uma classe muito apelona. O SM que domina bem o seu char, simplesmente reina no pvp. Suas skils principais são de silence e fear. Além de trabalhar no sistema de dano por dotes (skills que vão sangrando o inimigo).</p>
                <p>Ele possui sumons (pets elementais que o ajudam de acordo com a necessidade). Como sendo um mago possui defesa mais fraca e pode equipar livro ou orb.</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="{{ asset('build/img/specials/10.png') }}" alt="" class="img-fluid">
                </div>
            </div>
            </div>
            <div class="tab-pane" id="tab-11">
            <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Templar</h3>
                <p>Conhecido como “Tank” das instâncias, foi feito para levar porrada e ele aguenta.</p>
                <p>Possui vários taunts e skills que dão suporte a pt (aumentando defesa e HP do grupo, dando escudo a um aliado, etc…) então não pense que ser Templar é somente segurar a porrada!</p>
                <p>O templar é a classe de menor dano do Aion, mas sua defesa física e skills que curam/aumentam seu HP -que já é monstruoso- o tornando um inimigo bem chato de matar. Ele pode usar GS, mace/escudo, espada/escudo.</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="{{ asset('build/img/specials/11.png') }}" alt="" class="img-fluid">
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>

    </div>
</section><!-- End Specials Section -->

<!-- ======= Gallery Section ======= -->
<section id="gallery" class="gallery">
    <div class="container-fluid">

    <div class="section-title">
        <h2>Mídia</h2>
        <p>Veja a beleza de Atreia...</p>
    </div>

    <div class="row no-gutters">

        <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
            <a href="{{ asset('build/img/gallery/01.png') }}" class="venobox" data-gall="gallery-item">
            <img src="{{ asset('build/img/gallery/01.png') }}" alt="" class="img-fluid">
            </a>
        </div>
        </div>

        <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
            <a href="{{ asset('build/img/gallery/02.png') }}" class="venobox" data-gall="gallery-item">
            <img src="{{ asset('build/img/gallery/02.png') }}" alt="" class="img-fluid">
            </a>
        </div>
        </div>

        <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
            <a href="{{ asset('build/img/gallery/03.png') }}" class="venobox" data-gall="gallery-item">
            <img src="{{ asset('build/img/gallery/03.png') }}" alt="" class="img-fluid">
            </a>
        </div>
        </div>

        <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
            <a href="{{ asset('build/img/gallery/04.png') }}" class="venobox" data-gall="gallery-item">
            <img src="{{ asset('build/img/gallery/04.png') }}" alt="" class="img-fluid">
            </a>
        </div>
        </div>

        <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
            <a href="{{ asset('build/img/gallery/05.png') }}" class="venobox" data-gall="gallery-item">
            <img src="{{ asset('build/img/gallery/05.png') }}" alt="" class="img-fluid">
            </a>
        </div>
        </div>

        <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
            <a href="{{ asset('build/img/gallery/06.png') }}" class="venobox" data-gall="gallery-item">
            <img src="{{ asset('build/img/gallery/06.png') }}" alt="" class="img-fluid">
            </a>
        </div>
        </div>

        <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
            <a href="{{ asset('build/img/gallery/07.png') }}" class="venobox" data-gall="gallery-item">
            <img src="{{ asset('build/img/gallery/07.png') }}" alt="" class="img-fluid">
            </a>
        </div>
        </div>

        <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
            <a href="{{ asset('build/img/gallery/08.png') }}" class="venobox" data-gall="gallery-item">
            <img src="{{ asset('build/img/gallery/08.png') }}" alt="" class="img-fluid">
            </a>
        </div>
        </div>

    </div>

    </div>
</section><!-- End Gallery Section -->

<!-- ======= Chefs Section ======= -->
<section id="chefs" class="chefs">
    <div class="container">

    <div class="section-title">
        <h2>Downloads</h2>
        <p>Baixe o jogo e comece uma nova aventura.</p>
    </div>

    <div class="row">

        <div class="col-lg-4 col-md-6">
        <div class="member">
            <div class="pic"><img src="{{ asset('build/img/chefs/01.png') }}" class="img-fluid" alt=""></div>
            <div class="member-info">
            <h4>Patch Infinity Aion</h4>
            <span>Via google drive</span>
            <div class="social">
                <a href="https://drive.google.com/file/d/1BAGf-Goko8boOFENiYU4wMxBvV9FfWtO/view?usp=sharing"><i class="fas fa-cloud-download-alt"></i> Download</a>
            </div>
            </div>
        </div>
        </div>

        <div class="col-lg-4 col-md-6">
        <div class="member">
            <div class="pic"><img src="{{ asset('build/img/chefs/02.png') }}" class="img-fluid" alt=""></div>
            <div class="member-info">
            <h4>Client Aion 4.9</h4>
            <span>Via torrent</span>
            <div class="social">
                <a href="/build/download/Aion_Infinity_4.9.torrent"><i class="fas fa-file-download"></i> Download</a>
            </div>
            </div>
        </div>
        </div>

        <div class="col-lg-4 col-md-6">
        <div class="member">
            <div class="pic"><img src="{{ asset('build/img/chefs/03.png') }}" class="img-fluid" alt=""></div>
            <div class="member-info">
            <h4>Client Aion 4.9</h4>
            <span>Via google drive</span>
            <div class="social">
                <a href="https://drive.google.com/drive/folders/1tmhtFd-Q1BGY21Gr3AjqZP9YAqLsNRlT?usp=sharing"><i class="fas fa-cloud-download-alt"></i> Download</a>
            </div>
            </div>
        </div>
        </div>

    </div>

    </div>
</section><!-- End Chefs Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">
<div class="container">
    <h3>Infinity Aion</h3>
    <div class="social-links">
    <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
    <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
    </div>
    <div class="copyright">
    &copy; Copyright <strong><span>Delicious</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
    <!-- All the links in the footer should remain intact. -->
    <!-- You can delete the links only if you purchased the pro version. -->
    <!-- Licensing information: https://bootstrapmade.com/license/ -->
    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/delicious-free-restaurant-bootstrap-theme/ -->
    Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
</div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

{% endblock %}
