{% extends 'base.html.twig' %}

{% block title %}Infinity Aion{% endblock %}

{% block body %}

<!-- ======= Top Bar ======= -->
<section id="topbar" class="d-none d-lg-flex align-items-center fixed-top topbar-transparent">
<div class="container text-right">
    <i class="icofont-phone" style="color: green;"></i> +1 5589 55488 55
    <i class="icofont-clock-time icofont-rotate-180"></i> Mon-Sat: 11:00 AM - 23:00 PM
</div>
</section>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center header-transparent">
<div class="container d-flex align-items-center">

    <div class="logo mr-auto">
    {# <h1 class="text-light"><a href="index.html"><span>Delicious</span></a></h1> #}
    <!-- Uncomment below if you prefer to use an image logo -->
    <img src="{{ asset('build/img/infinityaion.png') }}" alt="">
    </div>

    <nav class="nav-menu d-none d-lg-block">
    <ul>
        <li class="active"><a href="#hero">Início</a></li>
        <li><a href="#why-us">Server Info</a></li>
        <li><a href="#team">Explore</a></li>
        <li><a href="#specials">Classes</a></li>
        <li><a href="#gallery">Midia</a></li>
        <li><a href="#chefs">Downloads</a></li>

        <li class="book-a-table text-center"><a href="{{ path('app_register') }}">Registrar</a></li>
        <li class="book-a-table text-center"><a href="{{ path('app_login') }}">Log In</a></li>
    </ul>
    </nav><!-- .nav-menu -->

</div>
</header><!-- End Header -->

{# ++++++++++ Flash Bags +++++++++++ #}
{% for message in app.flashes('notice') %}
<div class="alert alert-warning alert-dismissible" style="position: absolute; top: 130px; left:30px; z-index:1000;">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Alerta! </strong>{{ message }}
</div>
{% endfor %}

<!-- ======= Hero Section ======= -->
<section class="hero" id="hero">
<div class="hero-container">
    <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

    <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

    <div class="carousel-inner" role="listbox">

        {% set active = true %}
        {% for item in carousel %}
          {% if active == true %}
            <!-- Slide 1 -->
            <div class="carousel-item active" style="background: url({{ asset('uploads/cms/' ~ item.imageFull)}}); background-size:cover; background-position: center center;">
                <div class="carousel-container" style="background-color: rgba(10,10,10,0.5);">
                    <div class="carousel-content">
                        <h2 class="animate__animated animate__fadeInDown">{{item.title}}</h2>
                        <p class="animate__animated animate__fadeInUp">{{item.text}}</p>
                        <div>
                            <a href="{{ path('site_isolate', {id:item.id}) }}" class="btn-menu animate__animated animate__fadeInUp scrollto">Mais detalhes</a>
                        </div>
                    </div>
                </div>
            </div>
            {% set active = false %}
          {% else %}
            <div class="carousel-item active" style="background: url({{ asset('uploads/cms/' ~ item.imageFull)}}); background-size:cover; background-position: center center;">
                <div class="carousel-container" style="background-color: rgba(10,10,10,0.5);">
                    <div class="carousel-content">
                        <h2 class="animate__animated animate__fadeInDown">{{item.title}}</h2>
                        <p class="animate__animated animate__fadeInUp">{{item.text}}</p>
                        <div>
                            <a href="{{ path('site_isolate') }}" class="btn-menu animate__animated animate__fadeInUp scrollto">Mais detalhes</a>
                        </div>
                    </div>
                </div>
            </div>
          {% endif %}
        {% endfor %}
    </div>

    <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon icofont-simple-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>

    <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon icofont-simple-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>

    </div>
</div>
</section><!-- End Hero -->

<main>

<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container-fluid">

    <div class="row">

        <div class="col-lg-5 align-items-stretch video-box" style='background-image: url({{ asset('build/img/about.png') }});'>
        <a href="https://www.youtube.com/watch?v=crwgSgtf3oE" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
        </div>

        <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch">

        <div class="content">
            <h3>Uma nova batalha está para começar, <strong>junte seus amigos e explore Atreia.</strong></h3>
            <p>
            Aion Upheaval, implementa uma série de mecanismos que irá intensificar a experiência no jogo. Confira agora o que está por vir:
            </p>
            <p class="font-italic">Novos Mapas:</p>
            <ul>
            <li><i class="bx bx-check-double"></i>Cygnea, Enshar, Levinshor e Kaldor</li>
            </ul>
            <p class="font-italic">Nova Classe:</p>
            <ul>
            <li><i class="bx bx-check-double"></i>Aethertech</li>
            </ul>
            <p class="font-italic">Novo Mecanismo:</p>
            <ul>
            <li><i class="bx bx-check-double"></i>Glory Points</li>
            </ul>
            <p class="font-italic">Novas Batalhas:</p>
            <ul>
            <li><i class="bx bx-check-double"></i>Iron Wall Warfront, Engulfed Ophidan Bridge e Idgel Dome</li>
            </ul>
            <p class="font-italic">E muito mais...</p>
        </div>

        </div>

    </div>

    </div>
</section><!-- End About Section -->

<!-- ======= Whu Us Section ======= -->
<section id="why-us" class="why-us">
    <div class="container">

    <div class="section-title">
        <h2>Informações do servidor</h2>
    </div>

    <div class="row">

        <div class="col-lg-4">
        <div class="box">
            <span><i class="fab fa-codepen"></i></span>
            <h4>Core</h4>
            <p>Aion 4.9 - Upheaval</p>
            <br>
        </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0">
        <div class="box">
            <span><i class="far fa-flag"></i></span>
            <h4>Host</h4>
            <p>São Paulo (SP) - BR</p>
            <br>
        </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0">
        <div class="box">
            <span><i class="far fa-times-circle"></i></span>
            <h4>Rates</h4>
            <p>EXP: Normal: 10x / VIP: 20x<br>
            AP: Normal: 1x / VIP: 2x</p>
        </div>
        </div>

    </div>

    </div>
</section><!-- End Whu Us Section -->

<!-- ======= Team Section ======= -->
<section id="team" class="team section-bg">
    <div class="container">

    <div class="section-title">
        <h2>Explore o Infinity Aion</h2>
    </div>

    <div class="row">

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member">
            <div class="member-img">
            <img src="{{ asset('build/img/team/01.png') }}" class="img-fluid" alt="">
            <div class="social">
                <a href=""><i class="far fa-eye"></i> Ver detalhes</a>
            </div>
            </div>
            <div class="member-info">
            <h4>Sieges</h4>
            </div>
        </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member">
            <div class="member-img">
            <img src="{{ asset('build/img/team/02.png') }}" class="img-fluid" alt="">
            <div class="social">
                <a href=""><i class="far fa-eye"></i> Ver detalhes</a>
            </div>
            </div>
            <div class="member-info">
            <h4>Instâncias</h4>
            </div>
        </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member">
            <div class="member-img">
            <img src="{{ asset('build/img/team/03.png') }}" class="img-fluid" alt="">
            <div class="social">
                <a href=""><i class="far fa-eye"></i> Ver detalhes</a>
            </div>
            </div>
            <div class="member-info">
            <h4>Landing Reinforcement</h4>
            </div>
        </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member">
            <div class="member-img">
            <img src="{{ asset('build/img/team/04.png') }}" class="img-fluid" alt="">
            <div class="social">
                <a href=""><i class="far fa-eye"></i> Ver detalhes</a>
            </div>
            </div>
            <div class="member-info">
            <h4>Invasion</h4>
            </div>
        </div>
        </div>

    </div>

    <div class="row">

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member">
            <div class="member-img">
            <img src="{{ asset('build/img/team/05.png') }}" class="img-fluid" alt="">
            <div class="social">
                <a href=""><i class="far fa-eye"></i> Ver detalhes</a>
            </div>
            </div>
            <div class="member-info">
            <h4>Mapas</h4>
            </div>
        </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member">
            <div class="member-img">
            <img src="{{ asset('build/img/team/06.png') }}" class="img-fluid" alt="">
            <div class="social">
                <a href=""><i class="far fa-eye"></i> Ver detalhes</a>
            </div>
            </div>
            <div class="member-info">
            <h4>Rift's</h4>
            </div>
        </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member">
            <div class="member-img">
            <img src="{{ asset('build/img/team/07.png') }}" class="img-fluid" alt="">
            <div class="social">
                <a href=""><i class="far fa-eye"></i> Ver detalhes</a>
            </div>
            </div>
            <div class="member-info">
            <h4>Shopping</h4>
            </div>
        </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member">
            <div class="member-img">
            <img src="{{ asset('build/img/team/08.png') }}" class="img-fluid" alt="">
            <div class="social">
                <a href=""><i class="far fa-eye"></i> Ver detalhes</a>
            </div>
            </div>
            <div class="member-info">
            <h4>Stigmas</h4>
            </div>
        </div>
        </div>

    </div>

    </div>
</section><!-- End Team Section -->


<!-- ======= Specials Section ======= -->
<section id="specials" class="specials">
    <div class="container">

    <div class="section-title">
        <h2>Classes</h2>
        <p>Conheça as classes do Aion.</p>
    </div>

    <div class="row">
        <div class="col-lg-3">
        <ul class="nav nav-tabs flex-column">
            <li class="nav-item">
            <a class="nav-link active show" data-toggle="tab" href="#tab-1">Aethertech</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tab-2">Assasin</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tab-3">Chanter</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tab-4">Cleric</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tab-5">Gladiator</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tab-6">Gunner</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tab-7">Ranger</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tab-8">Sorcerer</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tab-9">Songweaver</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tab-10">Spiritmaster</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tab-11">Templar</a>
            </li>
        </ul>
        </div>
        <div class="col-lg-9 mt-4 mt-lg-0">
        <div class="tab-content">
            <div class="tab-pane active show" id="tab-1">
            <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Aethertech</h3>
                <p class="font-italic">Qui laudantium consequatur laborum sit qui ad sapiente dila parde sonata raqer a videna mareta paulona marka</p>
                <p>Et nobis maiores eius. Voluptatibus ut enim blanditiis atque harum sint. Laborum eos ipsum ipsa odit magni. Incidunt hic ut molestiae aut qui. Est repellat minima eveniet eius et quis magni nihil. Consequatur dolorem quaerat quos qui similique accusamus nostrum rem vero</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="{{ asset('build/img/specials/01.png') }}" alt="" class="img-fluid">
                </div>
            </div>
            </div>
            <div class="tab-pane" id="tab-2">
            <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Assasin</h3>
                <p class="font-italic">Qui laudantium consequatur laborum sit qui ad sapiente dila parde sonata raqer a videna mareta paulona marka</p>
                <p>Ea ipsum voluptatem consequatur quis est. Illum error ullam omnis quia et reiciendis sunt sunt est. Non aliquid repellendus itaque accusamus eius et velit ipsa voluptates. Optio nesciunt eaque beatae accusamus lerode pakto madirna desera vafle de nideran pal</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="{{ asset('build/img/specials/02.png') }}" alt="" class="img-fluid">
                </div>
            </div>
            </div>
            <div class="tab-pane" id="tab-3">
            <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Chanter</h3>
                <p class="font-italic">Eos voluptatibus quo. Odio similique illum id quidem non enim fuga. Qui natus non sunt dicta dolor et. In asperiores velit quaerat perferendis aut</p>
                <p>Iure officiis odit rerum. Harum sequi eum illum corrupti culpa veritatis quisquam. Neque necessitatibus illo rerum eum ut. Commodi ipsam minima molestiae sed laboriosam a iste odio. Earum odit nesciunt fugiat sit ullam. Soluta et harum voluptatem optio quae</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="{{ asset('build/img/specials/03.png') }}" alt="" class="img-fluid">
                </div>
            </div>
            </div>
            <div class="tab-pane" id="tab-4">
            <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Cleric</h3>
                <p class="font-italic">Totam aperiam accusamus. Repellat consequuntur iure voluptas iure porro quis delectus</p>
                <p>Eaque consequuntur consequuntur libero expedita in voluptas. Nostrum ipsam necessitatibus aliquam fugiat debitis quis velit. Eum ex maxime error in consequatur corporis atque. Eligendi asperiores sed qui veritatis aperiam quia a laborum inventore</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="{{ asset('build/img/specials/04.png') }}" alt="" class="img-fluid">
                </div>
            </div>
            </div>
            <div class="tab-pane" id="tab-5">
            <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Gladiator</h3>
                <p class="font-italic">Omnis blanditiis saepe eos autem qui sunt debitis porro quia.</p>
                <p>Exercitationem nostrum omnis. Ut reiciendis repudiandae minus. Omnis recusandae ut non quam ut quod eius qui. Ipsum quia odit vero atque qui quibusdam amet. Occaecati sed est sint aut vitae molestiae voluptate vel</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="{{ asset('build/img/specials/05.png') }}" alt="" class="img-fluid">
                </div>
            </div>
            </div>
            <div class="tab-pane" id="tab-6">
            <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Gunner</h3>
                <p class="font-italic">Omnis blanditiis saepe eos autem qui sunt debitis porro quia.</p>
                <p>Exercitationem nostrum omnis. Ut reiciendis repudiandae minus. Omnis recusandae ut non quam ut quod eius qui. Ipsum quia odit vero atque qui quibusdam amet. Occaecati sed est sint aut vitae molestiae voluptate vel</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="{{ asset('build/img/specials/06.png') }}" alt="" class="img-fluid">
                </div>
            </div>
            </div>
            <div class="tab-pane" id="tab-7">
            <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Ranger</h3>
                <p class="font-italic">Omnis blanditiis saepe eos autem qui sunt debitis porro quia.</p>
                <p>Exercitationem nostrum omnis. Ut reiciendis repudiandae minus. Omnis recusandae ut non quam ut quod eius qui. Ipsum quia odit vero atque qui quibusdam amet. Occaecati sed est sint aut vitae molestiae voluptate vel</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="{{ asset('build/img/specials/07.png') }}" alt="" class="img-fluid">
                </div>
            </div>
            </div>
            <div class="tab-pane" id="tab-8">
            <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Sorcerer</h3>
                <p class="font-italic">Omnis blanditiis saepe eos autem qui sunt debitis porro quia.</p>
                <p>Exercitationem nostrum omnis. Ut reiciendis repudiandae minus. Omnis recusandae ut non quam ut quod eius qui. Ipsum quia odit vero atque qui quibusdam amet. Occaecati sed est sint aut vitae molestiae voluptate vel</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="{{ asset('build/img/specials/08.png') }}" alt="" class="img-fluid">
                </div>
            </div>
            </div>
            <div class="tab-pane" id="tab-9">
            <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Songweaver</h3>
                <p class="font-italic">Omnis blanditiis saepe eos autem qui sunt debitis porro quia.</p>
                <p>Exercitationem nostrum omnis. Ut reiciendis repudiandae minus. Omnis recusandae ut non quam ut quod eius qui. Ipsum quia odit vero atque qui quibusdam amet. Occaecati sed est sint aut vitae molestiae voluptate vel</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="{{ asset('build/img/specials/09.png') }}" alt="" class="img-fluid">
                </div>
            </div>
            </div>
            <div class="tab-pane" id="tab-10">
            <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Spiritmaster</h3>
                <p class="font-italic">Omnis blanditiis saepe eos autem qui sunt debitis porro quia.</p>
                <p>Exercitationem nostrum omnis. Ut reiciendis repudiandae minus. Omnis recusandae ut non quam ut quod eius qui. Ipsum quia odit vero atque qui quibusdam amet. Occaecati sed est sint aut vitae molestiae voluptate vel</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="{{ asset('build/img/specials/10.png') }}" alt="" class="img-fluid">
                </div>
            </div>
            </div>
            <div class="tab-pane" id="tab-11">
            <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Templar</h3>
                <p class="font-italic">Omnis blanditiis saepe eos autem qui sunt debitis porro quia.</p>
                <p>Exercitationem nostrum omnis. Ut reiciendis repudiandae minus. Omnis recusandae ut non quam ut quod eius qui. Ipsum quia odit vero atque qui quibusdam amet. Occaecati sed est sint aut vitae molestiae voluptate vel</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="{{ asset('build/img/specials/11.png') }}" alt="" class="img-fluid">
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>

    </div>
</section><!-- End Specials Section -->

<!-- ======= Gallery Section ======= -->
<section id="gallery" class="gallery">
    <div class="container-fluid">

    <div class="section-title">
        <h2>Mídia</h2>
        <p>Veja a beleza de Atreia...</p>
    </div>

    <div class="row no-gutters">

        <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
            <a href="{{ asset('build/img/gallery/01.png') }}" class="venobox" data-gall="gallery-item">
            <img src="{{ asset('build/img/gallery/01.png') }}" alt="" class="img-fluid">
            </a>
        </div>
        </div>

        <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
            <a href="{{ asset('build/img/gallery/02.png') }}" class="venobox" data-gall="gallery-item">
            <img src="{{ asset('build/img/gallery/02.png') }}" alt="" class="img-fluid">
            </a>
        </div>
        </div>

        <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
            <a href="{{ asset('build/img/gallery/03.png') }}" class="venobox" data-gall="gallery-item">
            <img src="{{ asset('build/img/gallery/03.png') }}" alt="" class="img-fluid">
            </a>
        </div>
        </div>

        <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
            <a href="{{ asset('build/img/gallery/04.png') }}" class="venobox" data-gall="gallery-item">
            <img src="{{ asset('build/img/gallery/04.png') }}" alt="" class="img-fluid">
            </a>
        </div>
        </div>

        <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
            <a href="{{ asset('build/img/gallery/05.png') }}" class="venobox" data-gall="gallery-item">
            <img src="{{ asset('build/img/gallery/05.png') }}" alt="" class="img-fluid">
            </a>
        </div>
        </div>

        <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
            <a href="{{ asset('build/img/gallery/06.png') }}" class="venobox" data-gall="gallery-item">
            <img src="{{ asset('build/img/gallery/06.png') }}" alt="" class="img-fluid">
            </a>
        </div>
        </div>

        <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
            <a href="{{ asset('build/img/gallery/07.png') }}" class="venobox" data-gall="gallery-item">
            <img src="{{ asset('build/img/gallery/07.png') }}" alt="" class="img-fluid">
            </a>
        </div>
        </div>

        <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
            <a href="{{ asset('build/img/gallery/08.png') }}" class="venobox" data-gall="gallery-item">
            <img src="{{ asset('build/img/gallery/08.png') }}" alt="" class="img-fluid">
            </a>
        </div>
        </div>

    </div>

    </div>
</section><!-- End Gallery Section -->

<!-- ======= Chefs Section ======= -->
<section id="chefs" class="chefs">
    <div class="container">

    <div class="section-title">
        <h2>Downloads</h2>
        <p>Baixe o jogo e comece uma nova aventura.</p>
    </div>

    <div class="row">

        <div class="col-lg-4 col-md-6">
        <div class="member">
            <div class="pic"><img src="{{ asset('build/img/chefs/01.png') }}" class="img-fluid" alt=""></div>
            <div class="member-info">
            <h4>Patch Infinity Aion</h4>
            <span>Via google drive</span>
            <div class="social">
                <a href=""><i class="fas fa-cloud-download-alt"></i> Download</a>
            </div>
            </div>
        </div>
        </div>

        <div class="col-lg-4 col-md-6">
        <div class="member">
            <div class="pic"><img src="{{ asset('build/img/chefs/02.png') }}" class="img-fluid" alt=""></div>
            <div class="member-info">
            <h4>Client Aion 4.9</h4>
            <span>Via torrent</span>
            <div class="social">
                <a href=""><i class="fas fa-file-download"></i> Download</a>
            </div>
            </div>
        </div>
        </div>

        <div class="col-lg-4 col-md-6">
        <div class="member">
            <div class="pic"><img src="{{ asset('build/img/chefs/03.png') }}" class="img-fluid" alt=""></div>
            <div class="member-info">
            <h4>Client Aion 4.9</h4>
            <span>Via google drive</span>
            <div class="social">
                <a href=""><i class="fas fa-cloud-download-alt"></i> Download</a>
            </div>
            </div>
        </div>
        </div>

    </div>

    </div>
</section><!-- End Chefs Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">
<div class="container">
    <h3>Infinity Aion</h3>
    <div class="social-links">
    <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
    <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
    </div>
    <div class="copyright">
    &copy; Copyright <strong><span>Delicious</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
    <!-- All the links in the footer should remain intact. -->
    <!-- You can delete the links only if you purchased the pro version. -->
    <!-- Licensing information: https://bootstrapmade.com/license/ -->
    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/delicious-free-restaurant-bootstrap-theme/ -->
    Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
</div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

{% endblock %}
