{% extends 'base.html.twig' %}

{% block title %}Infinity Aion{% endblock %}

{% block body %}

<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center header-transparent">
<div class="container d-flex align-items-center">

    <div class="logo mr-auto">
    <!-- Uncomment below if you prefer to use an image logo -->
    <img src="{{ asset('build/img/infinityaion.png') }}" alt="">
    </div>

    <nav class="nav-menu d-none d-lg-block">
    <ul>
        <li><a href="{{ path('site') }}">Início</a></li>

        <li class="book-a-table text-center"><a href="#">Registrar</a></li>
        <li class="book-a-table text-center"><a href="#">Log In</a></li>
    </ul>
    </nav><!-- .nav-menu -->

</div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section class="hero" id="hero">
<div class="hero-container">
    <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

    <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background: url({{ asset('uploads/cms/' ~ carousel.imageSmall)}}); background-size:cover; background-position: center center;">
        <div class="carousel-container" style="background-color: rgba(10,10,10,0.5);">
            <div class="carousel-content">
            <h2 class="animate__animated animate__fadeInDown">{{carousel.title}}</h2>
            <p class="animate__animated animate__fadeInUp">{{carousel.text}}</p>
            </div>
        </div>
        </div>

    </div>

    </div>
</div>
</section><!-- End Hero -->

<main id="main">

<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container-fluid">

    <div class="row">

        <div class="col-lg-2 d-flex flex-column justify-content-center align-items-stretch"></div>
        <div class="col-lg-8 d-flex flex-column justify-content-center align-items-stretch">

        <div class="content">
            {% block content %}{% endblock %}
        </div>
        <div class="col-lg-2 d-flex flex-column justify-content-center align-items-stretch"></div>

        </div>

    </div>

    </div>
</section><!-- End About Section -->

</main><!-- End #main -->

<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

{% endblock %}
