{% extends 'base.html.twig' %}

{% block title %}Hello PainelController!{% endblock %}

{% block body %}
<!-- ======= Header ======= -->
<header id="painel_header" class="fixed-top d-flex align-items-center" style="background-color: rgba(10,10,10,0.9);">
<div class="container d-flex align-items-center">

  <div style="display:grid; grid-template-columns: 1fr 1fr 1fr;">
    {# <div class="logo mr-auto"> #}
    <div class="profile">
    {% if status_race == 'ASMODIANS' %}
      <div style="background: url({{ asset('build/img/border-asmos.png') }}) center center no-repeat; background-size: cover; width: 100px; height: 100px;">
        {% if status_image != '' %}
          <img src="{{ asset('build/img/perfil.jpg') }}" style="width:50px; margin: 25px; border-radius: 100%;" alt="" class="img-fluid">
        {% else %}
          <img src="{{ asset('build/img/perfil.jpg') }}" style="width:50px; margin: 25px; border-radius: 100%;" alt="" class="img-fluid">
        {% endif %}
      </div>
    {% elseif status_race == 'ELYOS' %}
      <div style="background: url({{ asset('build/img/border-elyos.png') }}) center center no-repeat; background-size: cover; width: 100px; height: 100px;">
        {% if status_image != '' %}
          <img src="{{ asset('build/img/perfil.jpg') }}" style="width:50px; margin: 25px; border-radius: 100%;" alt="" class="img-fluid">
        {% else %}
          <img src="{{ asset('build/img/perfil.jpg') }}" style="width:50px; margin: 25px; border-radius: 100%;" alt="" class="img-fluid">
        {% endif %}
      </div>
    {% else %}
      <div style="width: 100px; height: 100px;">
        {% if status_image != '' %}
          <img src="{{ asset('build/img/perfil.jpg') }}" style="width:50px; margin: 25px; border-radius: 100%;" alt="" class="img-fluid">
        {% else %}
          <img src="{{ asset('build/img/perfil.jpg') }}" style="width:50px; margin: 25px; border-radius: 100%;" alt="" class="img-fluid">
        {% endif %}
      </div>
    {% endif %}
    </div>
    <div class="profile text-right">
      <span>{{status_name}}<span><br>
      <span>{{expire}}<span><br>
      <span>{{status_coins}} IC<span><br>
      <span>Position 2<span>
    </div>
    <div class="profile text-left" style="padding-left: 10px; color: lightgray;">
      <i class="fas fa-user"></i><br>
      <i class="fas fa-crown"></i><br>
      <i class="fas fa-coins"></i><br>
      <i class="fas fa-medal"></i>
    </div>
  </div>

    <nav class="nav-menu d-none d-lg-block">
    <ul>
        <li>
          <a href="#" class="menu-link" name="menu-link-1" style="pointer-events: none;">
          <div class="text-center menu-icon" name="menu-icon-1">
            <i class="fa fa-rss"></i>
          </div>
          <div class="text-center">
            <small class="menu-font" name="menu-font-1">Feed</small>
          </div>
          </a>
        </li>
        <li>
          <a href="#" class="menu-link" name="menu-link-2" style="pointer-events: none;">
          <div class="text-center menu-icon" name="menu-icon-2">
            <i class="fas fa-paper-plane"></i>
          </div>
          <div class="text-center">
            <small class="menu-font" name="menu-font-2">Messages</small>
          </div>
          </a>
        </li>
        <li>
          <a href="#" class="menu-link" name="menu-link-6" style="pointer-events: none;">
          <div class="text-center menu-icon" name="menu-icon-6">
            <i class="fas fa-hands-helping"></i>
          </div>
          <div class="text-center">
            <small class="menu-font" name="menu-font-6">Guild</small>
          </div>
          </a>
        </li>
        <li>
          <a href="#" class="menu-link" name="menu-link-3" style="pointer-events: none;">
          <div class="text-center menu-icon-battle" name="menu-icon-3">
            <i class="fas fa-medal"></i>
          </div>
          <div class="text-center">
            <small class="menu-font-battle" name="menu-font-3">Infinity Battle</small>
          </div>
          </a>
        </li>
        <li>
          <a href="{{ path('shop') }}" class="menu-link" name="menu-link-4">
          <div class="text-center menu-icon-shop" name="menu-icon-4">
            <i class="fas fa-store"></i>
          </div>
          <div class="text-center">
            <small class="menu-font-shop" name="menu-font-4">Infinity Store</small>
          </div>
          </a>
        </li>
        <li>
          <a href="{{ path('coin') }}" class="menu-link" name="menu-link-5">
          <div class="text-center menu-icon-shop" name="menu-icon-5">
            <i class="fas fa-coins"></i>
          </div>
          <div class="text-center">
            <small class="menu-font-shop" name="menu-font-5">Infinity Coin</small>
          </div>
          </a>
        </li>
        {% if is_granted('ROLE_ADMIN') %}
        <li>
          <a href="{{ path('admin') }}" class="menu-link" name="menu-link-7">
          <div class="text-center menu-icon-manager" name="menu-icon-7">
            <i class="fas fa-user-cog"></i>
          </div>
          <div class="text-center">
            <small class="menu-font-manager" name="menu-font-7">Manager</small>
          </div>
          </a>
        </li>
        {% endif %}
        {% if notify %}
        <li>
          <a href="#" class="menu-link" name="menu-link-8">
          <div class="text-center menu-icon-suport" name="menu-icon-8">
            <i class="fas fa-cannabis"></i>
          </div>
          <div class="text-center">
            <small class="menu-font-suport" name="menu-font-8">Drugstore</small>
          </div>
          </a>
        </li>
        {% endif %}
        <li style="padding-left:30px;">
          <div class="text-left"><a href="{{ path('app_logout') }}" class="link" style="padding: 5px; height: 30px; pointer-events: none;"><i class="fas fa-question-circle"></i><small style="margin-left:10px;">Help</small></a></div>
          <div class="text-left"><a href="{{ path('app_logout') }}" class="link" style="padding: 5px; height: 30px; pointer-events: none;"><i class="fas fa-cog"></i><small style="margin-left:10px;">Settings</small></a></div>
          <div class="text-left"><a href="{{ path('app_logout') }}" class="link" style="padding: 5px; height: 30px;"><i class="fas fa-door-open"></i><small style="margin-left:10px;">Exit</small></a></div>
        </li>

    </ul>
    </nav><!-- .nav-menu -->

</div>
</header><!-- End Header -->
{% block content %}{% endblock %}
{% endblock %}
