{% extends 'base.html.twig' %}

{% block title %}Infinity Aion - Register{% endblock %}

{% block body %}
<div id="bloco" class="text-center" style="background: url({{ asset('build/img/recover.jpg') }}) top center no-repeat; background-size:cover;">
    <div style="background: url({{ asset('build/img/border3.png') }}) center center no-repeat; width:500px; height:500px;">
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1 style="margin-top: -50px; text-shadow: 0 0 10px lightgray; color: lightgray;">Register</h1>
        <div class="log">
        {{ form_start(registrationForm) }}
            {{ form_widget(registrationForm.username) }}
            {{ form_widget(registrationForm.name) }}
            {{ form_widget(registrationForm.email) }}
            {{ form_widget(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
            {{ form_row(registrationForm.agreeTerms) }}

            <button type="submit" class="btn btn-primary">Register</button>
        {{ form_end(registrationForm) }}
        </div>
    </div>
</div>
{% endblock %}
