{% extends 'painel/painel.html.twig' %}

{% block content %}
<div class="container title">
    <div class="row" id="title" style="margin-bottom:20px;">
        <div class="col-lg-12 text-center">
            <h3>Infinity Store</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-1 text-right">
            <form name="form-shop" action="{{ path('shop') }}">
            <label for="search" style="margin-top:5px;">Buscar:</label>
        </div>
        <div class="col-lg-4 text-left">
            <input type="text" class="form-control" name="search" style="margin-left:20px;">
        </div>
        <div class="col-lg-2 text-right">
            <label for="search" style="margin-top:5px;">Categoria:</label>
        </div>
        <div class="col-lg-4 text-left">
            <select class="form-control" id="sel1" name="category">
                <option value="">Todos</option>
                {% for cat in category %}
                    <option value="{{cat.id}}">{{cat.name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-lg-1 text-left">
            <input type="submit" class="btn btn-info" value="Filtrar">
            </form>
        </div>
    </div>
</div>
<div class="container">
    {% set divisor = 1 %}
    <div class="row justify-content-center">
        {% for item in data %}
            <div class="col-lg-3" style="margin-top: 50px;">
                <div class="shop-item" style="background-image: url({{ asset('build/img/back-item.jpg') }});">
                    <div class="text-center title-item" style="padding-top: 20px; padding-bottom: 0px; color: rgb(120,120,30);">
                        <h3>{{ item.name }}</h3>
                    </div>
                    {% if status_race == 'ASMODIANS' %}
                        <div class="item-desc" style="background-image: url({{ asset('build/img/Asmodian_Logo.png') }});">
                    {% elseif status_race == 'ASMODIANS' %}
                        <div class="item-desc" style="background-image: url({{ asset('build/img/Elyos_Logo.png') }});">
                    {% else %}
                        <div class="item-desc">    
                    {% endif %}
                        <div class="text-center">
                            <div><img src="{{ asset('build/img/shop/' ~ item.aion ~ '.png') }}" style="width: 70px; box-shadow: 0px 0px 10px 2px black; border-radius: 20px;"></div><br>
                            {% if item.promo %}
                                <span style="padding: 10px; text-decoration: line-through; text-shadow: 0px 0px 10px black;">{{ item.price }} IC</span>
                                <span style="padding: 10px; font-size: 20px; text-shadow: 0px 0px 10px black;">{{ item.price - (item.price * (item.discount /100 )) }} IC</span><br>
                            {% else %}
                                <span style="padding: 10px; font-size: 20px; text-shadow: 0px 0px 10px black;">{{ item.price }} IC</span><br>
                            {% endif %}
                            {% set vip = item.aion|slice(0,3) %}
                            {% if vip == 519 %}
                                <div>
                                    <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#vipMember" data-id="{{ item.aion }}" data-set="{{ item.name }}"><i class="fas fa-shopping-bag"></i> Comprar</button><br>
                                    <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#itemPresente" data-id="{{ item.aion }}" data-set="{{ item.name }}"><i class="fas fa-gifts"></i> Presentear</button>
                                </div>
                            {% else %}
                                <div>
                                    <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#showitem" data-id="{{ item.aion }}" data-set="{{ item.amount }}"><i class="fas fa-shopping-bag"></i> Comprar</button><br>
                                    <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#itemPresente" data-id="{{ item.aion }}" data-set="{{ item.name }}"><i class="fas fa-gifts"></i> Presentear</button>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% if divisor == 4 %}
                </div>
                <div class="row justify-content-center">
            {% endif %}
            {% set divisor = divisor + 1 %}
        {% endfor %}
    </div>
    <div class="row" style="margin-top: 50px;">
        <div class="col-lg-4"></div>
        <div class="col-lg-4 text-center">
            <div class="navigation">
                {{ knp_pagination_render(data) }}
            </div>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>
{% include "painel/contents/shop/modals/show_item.html.twig" %}
{% include "painel/contents/shop/modals/vip.html.twig" %}
{% include "painel/contents/shop/modals/item_presente.html.twig" %}
{% endblock %}
