{% extends 'painel/painel.html.twig' %}

{% block content %}
<div class="container title team section-bg">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h3>Infinity Coin</h3>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member">
            <div class="member-img">
            <img src="{{ asset('build/img/coins/15.png') }}" class="img-fluid" alt="">
            <div class="social">
                <a href="" class="buy-coin" data-toggle="modal" data-target="#coin-15" data-coin="15">Comprar <i class="fas fa-shopping-bag"></i></a>
                <a href="#"><i class="fas fa-gifts"></i> Presentear</a>
            </div>
            </div>
            <div class="member-info">
            <h4>Total 1650 Infinity Coin's</h4>
            </div>
        </div>
        </div>
        <div class="col-lg-1"></div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member">
            <div class="member-img">
            <img src="{{ asset('build/img/coins/20.png') }}" class="img-fluid" alt="">
            <div class="social">
                <a href="" data-toggle="modal" data-target="#coin-20">Comprar <i class="fas fa-shopping-bag"></i></a>
                <a href="#"><i class="fas fa-gifts"></i> Presentear</a>
            </div>
            </div>
            <div class="member-info">
            <h4>Total 2200 Infinity Coin's</h4>
            </div>
        </div>
        </div>
        <div class="col-lg-1"></div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member">
            <div class="member-img">
            <img src="{{ asset('build/img/coins/30.png') }}" class="img-fluid" alt="">
            <div class="social">
                <a href="" data-toggle="modal" data-target="#coin-30">Comprar <i class="fas fa-shopping-bag"></i></a>
                <a href="#"><i class="fas fa-gifts"></i> Presentear</a>
            </div>
            </div>
            <div class="member-info">
            <h4>Total 3300 Infinity Coin's</h4>
            </div>
        </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member">
            <div class="member-img">
            <img src="{{ asset('build/img/coins/50.png') }}" class="img-fluid" alt="">
            <div class="social">
                <a href="" data-toggle="modal" data-target="#coin-50">Comprar <i class="fas fa-shopping-bag"></i></a>
                <a href="#"><i class="fas fa-gifts"></i> Presentear</a>
            </div>
            </div>
            <div class="member-info">
            <h4>Total 5500 Infinity Coin's</h4>
            </div>
        </div>
        </div>
        <div class="col-lg-1"></div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member">
            <div class="member-img">
            <img src="{{ asset('build/img/coins/80.png') }}" class="img-fluid" alt="">
            <div class="social">
                <a href="" data-toggle="modal" data-target="#coin-80">Comprar <i class="fas fa-shopping-bag"></i></a>
                <a href="#"><i class="fas fa-gifts"></i> Presentear</a>
            </div>
            </div>
            <div class="member-info">
            <h4>Total 8800 Infinity Coin's</h4>
            </div>
        </div>
        </div>
        <div class="col-lg-1"></div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member">
            <div class="member-img">
            <img src="{{ asset('build/img/coins/100.png') }}" class="img-fluid" alt="">
            <div class="social">
                <a href="" data-toggle="modal" data-target="#coin-100">Comprar <i class="fas fa-shopping-bag"></i></a>
                <a href="#"><i class="fas fa-gifts"></i> Presentear</a>
            </div>
            </div>
            <div class="member-info">
            <h4>Total 11000 Infinity Coin's</h4>
            </div>
        </div>
        </div>
    </div>
</div>
{% include "painel/contents/coin/modals/coin-15.html.twig" %}
{% include "painel/contents/coin/modals/coin-20.html.twig" %}
{% include "painel/contents/coin/modals/coin-30.html.twig" %}
{% include "painel/contents/coin/modals/coin-50.html.twig" %}
{% include "painel/contents/coin/modals/coin-80.html.twig" %}
{% include "painel/contents/coin/modals/coin-100.html.twig" %}
{% endblock %}
