{# The Modal #}
<div class="modal fade" id="carouselNew">
{{form_start(form)}}
  <div class="modal-dialog">
    <div class="modal-content">

      {# Modal Header #}
      <div class="modal-header">
        <h4 class="modal-title">Novo Carousel</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      {# Modal body #}
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-12 text-left">
            {{form_row(form.title)}}
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 text-left">
            {{form_row(form.text)}}
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 text-left">
            {{form_row(form.image_full)}}
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 text-left">
            {{form_row(form.image_small)}}
          </div>
        </div>
      </div>

      {# Modal footer #}
      <div class="modal-footer">
        {{form_row(form.submit)}}
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
      </form>
    </div>
  </div>
  {{form_end(form)}}
</div>