{# The Modal #}
<div class="modal fade" id="incType">
  {{form_start(cat_new)}}
  <div class="modal-dialog">
    <div class="modal-content">

      {# Modal Header #}
      <div class="modal-header">
        <h4 class="modal-title">Inserir Categoria</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      {# Modal body #}
      <div class="modal-body text-left">
        {{ form_row(cat_new.name) }}
          {# {{ form_row(item_new.name) }} #}
        {# {{ form_end(item_new) }} #}
      </div>

      {# Modal footer #}
      <div class="modal-footer">
        {{ form_row(cat_new.submit) }}
        <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
      </div>

    </div>
  </div>
  {{form_end(cat_new)}}
</div>